html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-content: center;
  -webkit-overflow-scrolling: touch;
}

main {
  flex: 1;
}

.jumbotron, footer {
  background-color: #333333 !important;
}

.header-content {
  text-align: center;
  margin: 2% 0 auto;
  color: #667F6D;
}

.select-forms {
  display: flex;
  text-align: center;
  justify-content: center;
}

.label-form {
  margin: 0 auto;
  max-width: 60vh;
  display: flex;
  flex-direction: column;
}

.generate-playlist, .generate-playlist-input {
  background: #1DB954;
  margin-left: 0.6em;
}

.generate-playlist-input {
  border-style: none;
  margin-left: 0;
}

.spotify-icon {
  background: url(../images/spotify-icon.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
}

.github-icon {
  background: url(../images/github-icon.svg) left top;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.footer-content {
  text-align: left;
  margin: 3%;
  color: #667F6D;
}

.footer-content a {
  color: #4E6153 !important;
  text-decoration: none !important;
}

.footer-content a:hover {
  color: #667F6D !important;
}
